*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}
html,
body{
    background: #0A9DCB;
    color: white;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    overflow: hidden; /* Hide scrollbars */
}

.Container{
    font-size: large;
    padding-top: 5%;
    padding-left: 10%;
    width: 55%;
    display: flex;
    flex-direction: column;
    gap: 30px;
}
.textLabel{
    align-self: center;
    
}
.grid{
    display: grid;
    grid-template-rows: repeat(4,50px) 100px 75px;
    grid-template-columns: 200px auto;
    gap: 15px;
}
.subjects{
    align-self: center;
    height: 75%;
    width: 33%;
    border-radius: 5px;
    border-color: white;
}
input{
    border-style:solid;
    align-self: center;
    border-radius: 5px;
    border-color: white;
    height: 75%;
}
hr.white {
    border-top: 1px solid white;
}
.twoInput{
    display: flex;
    gap: 20px;
}
.box{
    border-radius: 5px;
    border-color: white;
    resize: none;
    width: 100%;
    height: 100%;
}
.submit{
    background-color: transparent;
    border-color: white;
    border-style:solid;
    border-radius: 10px;
    padding: 0.5em 2em;
    align-self: flex-start;
    color: white;
    font-weight: 600;
    font-size: larger;
    cursor: pointer;
    transition: all 0.3s ease 0s;
}
.submit:hover{
    transform: translateY(-10px);
}
.submit:active{
    transform: translateY(0px);
}
.graphArea{
    position: absolute;
    right: 15px;
    top: -25px;
}
.root{
    display: inline-block;
    height: 40px;
    width: 400px;
    transform: rotate(-45deg);
    z-index: 1;
}
.stadium{
    display: inline-block;
    height: 40px;
    width: 400px;
    border-radius: 100px;
    transform: rotate(-45deg);
    right: -100px;
    background-color: #61D7D8;
    z-index: -1;
    transition: all 0.3s ease 0s;
}
.stadium:hover{
}
.transparence{
    background-color: #0A9DCB;
    
}
.yellow{
    background-color: #DBD972;
    
}
.red{
    background-color: #EA607E;
    
}

.blue{
    background-color: #61D7D8;

}
.cyan{
    background-color: #a1e8e9;
}
.green{
    background-color: #D1DC9B;
}
